body
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family sans-serif;
  font-size: 3em;
}

h3 {
  font-size: 1.3em;
}

section {
  margin: 0 auto;
  width: 60%;
}

.example, h3 {
  padding-top: 30px;
  text-align center
}

/****** New changes******/
div {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
}

div.element {
  background-color: pink;
}

/* original CSS

.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
*/
